{% extends 'base.html.twig' %}

{% block title %}Hello AdvertController!{% endblock %}

{% block body %}
<h1 style="text-align:center">Nos Annonces</h1>
    <div class="row row-cols-1 row-cols-md-2">
        {% for advert in adverts %}
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{advert.title}}</h5>
                    <p class="card-text">{{advert.description}}</p>
                    <p class="card-text"> location de {{advert.nbDays}} jours </p>
                    <h6 class="card-title">{{advert.city}}, {{advert.carYear}}, {{advert.nbKm}} km</h6>
                    <button class="btn btn-primary">{{advert.price}} $</button>
                </div>
            </div>
        </div>
{% endfor %}
    </div>
{% endblock %}
{% block stylesheets %}
{{parent()}}
<style>
.card-body {
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}
.row {
    margin-left : 0;
    margin-right : 0;
}
</style>
{% endblock %}
